@page "/help"
@inject NavigationManager navigationManager
<HeadContent>
    <link href="/css/bigstarcollectables.help.css" rel="stylesheet" />
</HeadContent>
<section id="help">
    <h1>Help</h1>
    <p>Please upload a screenshot of the problem you're having.</p>
    <form>
        <InputFile />
        <button class="button lg solid gold" type="button">Upload image</button>
    </form>
</section>