@page "/help"
@inject HttpClient httpClient
@using System.Net.Http.Headers
@using MyBlazorShopHosted.Libraries.Shared.Upload.Extensions
@using MyBlazorShopHosted.Libraries.Shared.Upload.Models
<HeadContent>
    <link href="/css/bigstarcollectables.help.css" rel="stylesheet" />
</HeadContent>
<section id="help">
    <h1>Help</h1>
    <p>Please upload a screenshot of the problem you're having.</p>
    <form>
        <InputFile @key=InputFileId.ToString() OnChange="OnInputFileChange" />
        <button class="button lg solid gold" type="button" @onclick="UploadImageAsync">Upload image</button>
    </form>
    @if (AllowedUploadFileResult?.Errors?.Any() ?? false)
    {
        <p>The following errors occured:</p>
        <ul>
            @foreach (var error in AllowedUploadFileResult.Errors)
            {
                <li>@error</li>
            }
        </ul>
    }
    @if (Uploaded)
    {
        <p>The file has been successfully uploaded.</p>
    }
</section>
@code {
    private Guid InputFileId = Guid.NewGuid();
    private IReadOnlyList<IBrowserFile>? UploadFiles { get; set; }

    private AllowedUploadFileResult? AllowedUploadFileResult { get; set; }
    private bool Uploaded { get; set; }
}
@functions {
    private void OnInputFileChange(InputFileChangeEventArgs e)
    {
        UploadFiles = e.GetMultipleFiles();
        this.StateHasChanged();
    }

    private async Task UploadImageAsync()
    {
        // Reset messages
        AllowedUploadFileResult = null;
        Uploaded = false;

        if (UploadFiles == null)
        {
            return;
        }

        foreach (var uploadFile in UploadFiles)
        {
            // Read uploaded file and store as a byte array
            var uploadFileBuffer = new byte[uploadFile.Size];
            await uploadFile.OpenReadStream().ReadAsync(uploadFileBuffer);

            // Check the uploaded file to see if they validate.
            AllowedUploadFileResult = AllowedUploadFileHelper.ValidateFile(uploadFile.Name, uploadFileBuffer);
        }

        using var content = new MultipartFormDataContent();

        // Add each file to the upload.
        foreach (var uploadFile in UploadFiles)
        {
            var fileContent = new StreamContent(uploadFile.OpenReadStream());
            fileContent.Headers.ContentType = new MediaTypeHeaderValue(uploadFile.ContentType);

            content.Add(content: fileContent, name: "\"files\"", fileName: uploadFile.Name);
        }

        // Post the file up to the API and return a result.
        AllowedUploadFileResult = await (await httpClient.PostAsync("/api/file/upload", content)).Content.ReadFromJsonAsync<AllowedUploadFileResult>();

        if (AllowedUploadFileResult?.Success ?? false)
        {
            // If successfully uploaded, note that it has been uploaded.
            Uploaded = true;
            InputFileId = Guid.NewGuid();
        }
        

    }
}