@using Blazored.LocalStorage
@page "/help"
@inject ILocalStorageService localStorageService

<HeadContent>
    <link href="/css/bigstarcollectables.help.css" rel="stylesheet" />
</HeadContent>
<section id="help">
    <h1>Help</h1>
    <p>If you have any questions, please add them the message</p>
    <form>
        <input Value="@Message" @onchange="StoreMessageAsync" />
        <button class="button lg solid gold">Send message</button>
    </form>
</section>

@code {
    const string MESSAGE_KEY = "message";

    private string? Message { get; set; }
}
@functions {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    private async Task StoreMessageAsync(ChangeEventArgs changeEventArgs)
    {
        Message = changeEventArgs.Value?.ToString();

        if (changeEventArgs?.Value != null)
        {
        }
    }
}