@using MyBlazorShopHosted.Web.Client.Shared.Template
@using MyBlazorShopHosted.Web.Client.Components
@using System.Globalization
@using MyBlazorShopHosted.Libraries.Shared.ShoppingCart.Models
@using MyBlazorShopHosted.Web.Client.StateManagement
@page "/cart"
@inject HttpClient httpClient
@inject IShoppingCartStateContainer shoppingCartStateContainer

<PageTitle>Shopping cart page</PageTitle>
<HeadContent>
    <meta name="description" content="Shopping cart page" />
    <link href="/css/bigstarcollectables.cart.css" rel="stylesheet" />
</HeadContent>
<section id="cart">
    <h1>Shopping Cart@(string.Format(" ({0} item{1})", shoppingCartStateContainer.TotalItemsCount, shoppingCartStateContainer.TotalItemsCount != 1 ? "s" : ""))</h1>
    <form>
    <TableTemplate HeaderNames="@TableHeaderNames">
        <RowTemplate>
            @if (ShoppingCartItems?.Items != null)
            {
                @foreach (var item in ShoppingCartItems.Items)
                {
                    <ShoppingCartItem Item="item"></ShoppingCartItem>
                }
            }
        </RowTemplate>
    </TableTemplate>
    </form>
</section>
@code {
    private List<TableHeaderName> TableHeaderNames = new() {
        new TableHeaderName("Product"),
        new TableHeaderName("Price"),
        new TableHeaderName("Quantity"),
        new TableHeaderName("Total"),
        new TableHeaderName("Remove")
    };

    private ShoppingCartModel? ShoppingCartItems { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ShoppingCartItems = await httpClient.GetFromJsonAsync<ShoppingCartModel?>(
           "/api/shopping-cart"
        );
        shoppingCartStateContainer.OnTotalItemsCountChange += async () =>
        {
            // Update shopping cart when the count has changed.
            ShoppingCartItems = await httpClient.GetFromJsonAsync<ShoppingCartModel?>(
                "/api/shopping-cart"
            );

            // Refresh state
            StateHasChanged();
        };

        await base.OnInitializedAsync();
    }
}