#blazor-error-ui {
    display: none;
    padding: 15px;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-color: #ff583d;
    color: #222224;
    font-weight:500;
}
.loading-progress {
    position: relative;
    display: block;
    width: 24rem;
    height: 24rem;
    margin: 20vh auto 1rem auto;
}
.loading-progress circle {
    fill: none;
    stroke: #e0e0e0;
    stroke-width: 0.6rem;
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
}
.loading-progress circle:last-child {
    stroke: #1b6ec2;
    stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
    transition: stroke-dasharray 0.05s ease-in-out;
}
.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    font-size: 42px;
    inset: calc(20vh + 9rem) 0 auto 0.2rem;
}
.loading-progress-text:after {
    content: var(--blazor-load-percentage-text, "Loading");
}