<footer id="continfo">
	<nav aria-label="Supplementary">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/cart">Cart</a></li>
			<li><a href="/help">Help</a></li>
		</ul>
	</nav>
	<img src="/images/logo-big-star-H.svg" width="120" height="65" alt="Logo of Big Star Collectibles">
	<p><small>&copy; Big Star Collectibles, Inc.</small></p>
	<p><small>This is a fictitious company created by LinkedIn Corporation, or its affiliates, solely for the creation and development of educational training materials. Any resemblance to real products or services is purely coincidental. Information provided about the products or services is also fictitious and should not be construed as representative of actual products or services on the market in a similar product or service category.</small></p>
</footer>