@using MyBlazorShopHosted.Libraries.Shared.ShoppingCart.Models
@inject HttpClient httpClient
@inject NavigationManager navigationManager
<header id="banner">
	<a href="./"><img src="/images/logomark-big-star-white.svg" width="43" height="50" alt="Big Star Collectibles"></a>
    @if (!string.IsNullOrWhiteSpace(TimeNow))
    {
        <p class="time">@TimeNow</p>
    }
    <NavMenu />
    <button type="button" @onclick="RedirectToCart">
		<img src="/images/icon-shopping-cart-v01-white.svg" width="36" height="33" alt="Cart Panel">
        <span class="visually-hidden">(</span><span class="num">@(ShoppingCartCountModel != null ? ShoppingCartCountModel.Count.ToString() : "0")</span> <span class="visually-hidden">items)</span>
	</button>
</header>
@code {
    [CascadingParameter(Name="ShoppingCartCountModel")]
    private ShoppingCartCountModel? ShoppingCartCountModel { get; set; }

    private string? TimeNow { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (ShoppingCartCountModel != null)
        {
            ShoppingCartCountModel.UpdateCart += () =>
            {
                // Refresh the component as the cart has been updated
                StateHasChanged();
            };
        }
        await base.OnInitializedAsync();
    }

    private void RedirectToCart()
    {
        // Redirect to cart page
        navigationManager.NavigateTo("/cart");
    }
}