@using MyBlazorShopHosted.Libraries.Shared.ShoppingCart.Models
@using MyBlazorShopHosted.Web.Client.StateManagement
@inject HttpClient httpClient
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime
@inject IShoppingCartStateContainer shoppingCartStateContainer
<header id="banner">
	<a href="./"><img src="/images/logomark-big-star-white.svg" width="43" height="50" alt="Big Star Collectibles"></a>
    <NavMenu />
    <button type="button" @onclick="RedirectToCart">
		<img src="/images/icon-shopping-cart-v01-white.svg" width="36" height="33" alt="Cart Panel">
        <span class="visually-hidden">(</span><span class="num">@(shoppingCartStateContainer.TotalItemsCount)</span> <span class="visually-hidden">items)</span>
	</button>
</header>
@code {
    protected override async Task OnInitializedAsync()
    {
        shoppingCartStateContainer.OnTotalItemsCountChange += () =>
        {
            StateHasChanged();
        };
        await base.OnInitializedAsync();
    }

    private void RedirectToCart()
    {
        // Redirect to cart page
        navigationManager.NavigateTo("/cart");
    }
}