@using MyBlazorShopHosted.Libraries.Shared.ShoppingCart.Models
@using MyBlazorShopHosted.Web.Client.StateManagement
@inherits LayoutComponentBase
@inject HttpClient httpClient
@inject IShoppingCartStateContainer shoppingCartStateContainer
<Header />
<main id="main">
    @Body
</main>
<Footer />
@code {

    protected override async Task OnInitializedAsync()
    {
        await shoppingCartStateContainer.UpdateTotalItemsCountAsync();

        await base.OnInitializedAsync();
    }
}