@using MyBlazorShopHosted.Libraries.Shared.ShoppingCart.Models
@inherits LayoutComponentBase
@inject HttpClient httpClient
<CascadingValue Value="@ShoppingCartCountModel" Name="ShoppingCartCountModel">
    <Header />
    <main id="main">
        @Body
    </main>
    <Footer />
</CascadingValue>
@code {
    private ShoppingCartCountModel? ShoppingCartCountModel;

    protected override async Task OnInitializedAsync()
    {
        ShoppingCartCountModel = new ShoppingCartCountModel();
        ShoppingCartCountModel.Count = await httpClient.GetFromJsonAsync<int>(
            "/api/shopping-cart/count"
        );
        await base.OnInitializedAsync();
    }
}