<nav aria-label="Site">
    <ul>
        <li><NavLink Match="NavLinkMatch.All" href="/">Home</NavLink></li>
        <li><NavLink Match="NavLinkMatch.All" href="/cart">Cart</NavLink></li>
    </ul>
</nav>